
<% total = 0%>
<h2>MY SHOPPING CART </h2>

<h1>Shopping Cart</h1>
<% if @cart.count <= 0 %>
    <h1>No Items in your cart yet</h1>
<% else %>
<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>
 <% @cart.each do |item| %>
        <% drink = Drink.find(item["id"])%>
  <div class="product">
    <div class="product-image">
      <%= image_tag drink.image, alt: drink.name %>
    </div>
    <div class="product-details">
      <div class="product-title"><%= drink.name %></div>
      <p class="product-description"><%= drink.description %></p>
    </div>
    <div class="product-price"><%= number_to_currency (drink.price_cents/100.0) %></div>
    <div class="product-quantity">
      <%= link_to '-',decrement_path(item["id"])%><span><%= item["qty"] %></span> <%= link_to '+',increment_path(item["id"])%>
    </div>
    <div class="product-removal"></div>
      <%= button_to 'Remove from cart', remove_from_cart_path(item["id"]), method: :delete, class: "product-removal"%>
      <div class="product-line-price"><%= number_to_currency (drink.price_cents/100.0)*item["qty"] %></div>
    </div>
  </div>
  <% total += drink.price_cents*item["qty"]%>
  <% end %>

  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal"><%= number_to_currency total/100.0%></div>
    </div>
  </div>

      <button class="checkout">Checkout</button>

</div>
<%end%>

