<!DOCTYPE html>
<html>
  <head>
    <title>DrinksMB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>

  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">

  <div id="navbarBasicExample" class="navbar-menu is-active">
    <div class="navbar-start">
    <div class="navbar-item has-dropdown is-hoverable">
        <%= link_to "Drinks",root_path, class:"navbar-link"%>
        <div class="navbar-dropdown">
            <%= link_to "New Arrivals",new_path, class:"navbar-item"%>
            <%= link_to "On Sale",sale_path, class:"navbar-item"%>
        </div>
    </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Country
        </a>

        <div class="navbar-dropdown">
        <% CountryOfOrigin.all.each do |country|%>
            <%= link_to country.name, country,class: "navbar-item"%>
          <% end%>
          <hr class="navbar-divider">
        </div>
      </div>
        <%= link_to 'About Us', permalink_path('About_Us'), class:"navbar-item"%>
        <%= link_to 'Contact Us', permalink_path('Contact'), class:"navbar-item"%>
        <%= link_to 'Cart', cart_path, class:"navbar-item"%>
    </div>
    <div class="navbar-end">
        <%= render partial: 'drinks/search'%>
    </div>
  </div>
</nav>
    <section class="section">
    <div class="container">
    <header>
    <div class='title'>Drinks MB</div>
     </header>
        <details>
     <summary>Shopping Cart</summary>
     <% if @cart.empty?%>
      <p>No items in cart.</p>
     <%else%>
      <ul>
        <%@cart.each do |product|%>
          <li><%= Drink.find(product["id"]).name%>- Quantity <%= product["qty"]%> - <%= link_to 'Remove from cart', remove_from_cart_path(product["id"]), method: :delete%></li>
        <%end%>
      </ul>
    <%end%>
      </details>

    <%= yield %>

    </div>
  </section>
  </body>
</html>
